@model List<Category>

<div class="container mt-4">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr class="align-middle text-center">
                    <td>@category.Name</td>
                    <td>
                        <a href="/Customer/AllMoviesHome/Index/@category.Id" class="btn btn-sm btn-outline-primary">
                            🎞️ All Movies
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
